<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block style %}
            {% stylesheets filter="cssrewrite" output="css/app.css"
            "%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap.css"
            "%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap-theme.css" %}
            {# no error here#}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
