{% extends 'base.html.twig' %}
{% block body %}
 <!--   <div class="jumbotron">
        {% image 'bundles/app/logo_tetragon.svg' %}
        <img class="img-responsive" src="{{ asset_url }}" alt="Logo"/>
        {% endimage %}
        <h1 class="h1">
            Tetragon
        </h1>
    </div>-->
    <div class="col-sm-offset-1 col-sm-10">
    <div class=" jumbotron row" style="margin-top:25%">
        <div class="col-xs-12 col-sm-4" style="text-align: center">
            <a href="{{ path('new employee') }}" ><i class="material-icons" style="font-size: 60pt;color: #0fb2fc">person_add</i></a>
            <br>

            <a href="{{ path('new employee') }}" class="btn btn-raised btn-primary col-xs-12">Add Employee</a>
        </div>
        <div class="col-xs-12 col-sm-4" style="text-align: center">
            <a href="javascript:void(0)" ><i class="material-icons" style="font-size: 60pt;color: #0fb2fc">trending_up</i></a>
            <br>

            <a href="javascript:void(0)" class="btn btn-raised btn-primary col-xs-12">Reports</a>
        </div>
        <div class="col-xs-12 col-sm-4" style="text-align: center">
            <a href="javascript:void(0)" ><i class="material-icons" style="font-size: 60pt;color: #0fb2fc">highlight_off</i></a>
            <br>

            <a href="javascript:void(0)" class="btn btn-raised btn-primary col-xs-12">Resign Employee</a>
        </div>
    </div>


    </div>
{% endblock %}