{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        {% image 'bundles/app/logo_tetragon.svg' %}
        <img class="img-responsive" src="{{ asset_url }}" alt="Logo"/>
        {% endimage %}
        <h1 class="h1">
            Tetragon
        </h1>
    </div>
    <div class="col-sm-offset-1">
        <a href="javascript:void(0)" class="btn btn-raised btn-primary col-xs-12 col-sm-4">Sales Section</a>
        <a href="javascript:void(0)" class="btn btn-raised btn-primary col-xs-12 col-sm-3">Admin</a>
        <a href="javascript:void(0)" class="btn btn-raised btn-primary col-xs-12 col-sm-4">Repairing Section</a>

    </div>
{% endblock %}