{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        {% image 'bundles/app/logo_tetragon.svg' %}
        <img class="img-responsive" src="{{ asset_url }}" alt="Logo"/>
        {% endimage %}
        <h1 class="h1">
            Tetragon
        </h1>
    </div>
    <div class="col-sm-12 col-xs-12">
        <a href="#" style="border-radius: 0%; color:#2d3e50; border:2px solid #ffffff" class="btn btn-success col-xs-12 col-sm-3" ><strong>Sales Section</strong></a>
        <a href="#" style="border-radius: 0%; color:#2d3e50; border:2px solid #ffffff" class="btn btn-success col-xs-12 col-sm-2 col-sm-offset-2"><strong>Admin</strong></a>
        <a href="#" style="border-radius: 0%; color:#2d3e50; border:2px solid #ffffff" class="btn btn-success col-xs-12 col-sm-3 col-sm-offset-2"><strong>Repairing Section</strong></a>
    </div>
{% endblock %}