{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <img src="{{ asset('bundles/framework/images/logo_tetragon.svg') }}" class="img-responsive"
             height="25%" width="25%">
        <h1 class="h1">
            Tetragon
        </h1>
    </div>
    <div class="col-lg-12">
        <button class="btn btn-link btn-lg">
            Admin
        </button>
        <button class="btn btn-link btn-lg">
            Repairing section
        </button>
        <button class="btn btn-link btn-lg">
            Sales section
        </button>
    </div>
{% endblock %}