{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        {% image 'bundles/app/logo_tetragon.svg' %}
        <img src="{{ asset_url }}" alt="Logo"/>
        {% endimage %}
        <h1 class="h1">
            Tetragon
        </h1>
    </div>
    <div class="col-lg-12">
        <button class="btn btn-link btn-lg">
            Admin
        </button>
        <button class="btn btn-link btn-lg">
            Repairing section
        </button>
        <button class="btn btn-link btn-lg">
            Sales section
        </button>
    </div>
{% endblock %}