{% extends 'base.html.twig' %}
{% block body %}
    <h1>Lucky Numbers: {{ luckyNumberList }}</h1>

    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endblock %}