{% extends 'ajaxBase.xml.twig' %}

{% block data %}
{% endblock %}

{% block segment %}
<div>

    <div class="panel panel-default">

        <div class="panel-body">
            <legend style="color: #009688">Add Item</legend>

            {% embed 'flashWidget.html.twig' %}
            {% endembed %}

            <h6 class="h6">
                Enter details and click 'Add' to add it to the order. <br/>
                Click 'Finish' to complete the order.
            </h6>

            <div>
                <label>Item ID: </label>
                <span id="itemId">

                </span>
            </div>
            <div>
                <label>Item Name: </label>
                <span id="itemName">

                </span>
            </div>
            <div class="form-group">
                <label class="control-label required" for="inventory_search_name">Warranty Expiration</label>
                <input type="date" id="inventory_item_expire" name="expire" required="required" maxlength="255"
                       class="form-control"/>
            </div>
        </div>
        <div class="panel-footer">
            <button type="button" id="inventory_items_add" name="add" class="btn btn-primary">
                Add
            </button>
        </div>
    </div>
</div>
{% endblock %}